- content_for :title do
  = "- #{Season.model_name.human.capitalize.pluralize}"
  = "-"
  = @season.title

= link_to "Back", seasons_path

%h2
  = "#{Season.model_name.human.capitalize}"
  = ":"
  = @season.title

Année
%time{:datetime=>@season.year.to_s}= @season.year.year

%h3
  Horaire
%ul
- @season.season_schedules.each do |ss|
  %li
    = ss.broadcaster.name
    = ss.hours.strftime("%H:%M")

%h3
  Desription
%p
  = @season.description

%h3
  Vidéos

%ul
  - @season.videos.each_with_index do |video, i|
    %li
      = video.title
      Épisode: #{i+1}
      %a{:href=>"#"}
        Écouter
      
      %img{:src=>"http://i2.ytimg.com/vi/#{video.youtube_id}/0.jpg"}
      /
        <iframe width="560" height="315" src="//www.youtube.com/embed/#{video.youtube_id}" frameborder="0" allowfullscreen></iframe>